@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
Body {
  color: white;
  background-image: url(../assets/BIBLIOTECAUM.avif);
  background-size: cover;
  font-family:  Bebas Neue, sans-serif !important;
  
}

